################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/homework_1/homework_1a/.vs/homework_1a/FileContentIndex/cbf84a5b-4c52-4018-955d-05a429c475fe.vsidx
